.site-header {
    height: $site-header-height;
    padding: 1rem 0;
    border-bottom: 1px solid $gray-300;
    background: linear-gradient(to right, #{$primary-dark} 0%, #{$primary} 100%);
    color: white;

    &--content {
        @include centered-flex-row(flex-start);
    }

    * {
        color: inherit;
    }

    &--title {
        font-size: 22px;
        text-decoration: none;
        font-weight: bold;
        transition: background-color .1s ease-out;
        margin-right: 2rem;
        &:hover {
            color: white;
            text-decoration: none;
            background-color: $primary;
        }
    }

    ul {
        display: flex;
        @include list-unstyled;
        margin: 0;
    }

    &--link {
        text-decoration: none;
        display: block;
        margin: 0 1rem;
        color: white;

        @include absolute-block-pseudo('after') {
            left: 0;
            top: 100%;
            width: 100%;
            height: 2px;
            background-color: white;
            transform: scaleX(0);
            transition: transform .2s ease-out;
        }

        &:hover {
            text-decoration: none;
            color: white;
            &::after {
                transform: none;
            }
        }
    }
}
